$color_primary: #f25500;
$color_positive: #13c413;
$background_color_light: #f6f9f9;
$text_color_regular: #3d444b;
$text_color_light: #737171;

$font_size_large: 2rem;
$font_size_regular: 1.1rem;
$font_size_small: 0.9rem;


.tsm-admin-wrapper {
  border: 1px solid green;
}