* {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  body {
    background-color: #f0f0f1;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  
  .left-menu {
    background-color: #dbdee1;
    min-height: 800px;
  }
  
  .left-menu div h2 {
    font-size: 64px;
    text-align: center;
  }
  
  .main {
    background-color: #f0f0f1;
  }
  
  .first-box {
    background-color: #dbdee1;
    padding: 15px;
    border-radius: 5px;
  }
  
  .first-box h2 {
    font-size: 24px;
  }
  
  .first-box p {
    font-size: 16px;
  }
  
  .first-box a {
    font-size: 14px;
    background-color: #5c7cdb;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
  }
  
  .add-box {
    background-color: #5c7cdb;
    border-radius: 5px;
  }
  
  .add-box a {
    font-size: 64px;
    display: block;
    text-align: center;
    align-items: center;
    padding: 35px;
    color: #fff;
  }
  
  
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
  }
  
  @media only screen and (max-width: 768px) {
  
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
  
  .container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
  }
  
  .form-control {
    background-color: #dbdee1;
    border: unset;
    border-radius: 5px;
    width: 100%;
    padding: 4px 8px;
  }
  
  .label-box {
    background-color: #dbdee1;
    margin: 6px;
    padding: 4px;
    border-radius: 5px;
  }
  
  .delete-btn {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 3px 8px;
  }
  
  .flex {
    display: flex;
  }
  
  .containt-right input {
    margin-left: 10px;
  }
  
  .back-btn {
    margin-left: 20px;
  }
  
  .add-btn {
    text-align: right;
  }
  
  .add-btn button {
    font-size: 14px;
    background-color: #5c7cdb;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    border: none;
  }
  
  .pointer {
    cursor: pointer;
  }
  .text-center{
      text-align: center;
  }