.tpsm-free-shipping-bar-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    z-index: 99999999;
    height: 55px;
}
.tpsm-free-shipping-bar-wrapper progress {
    width: 100%;
}