/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/admin/general.scss ***!
  \**********************************************************************************************************************/
.tsm-admin-wrapper {
  margin: 15px;
  width: 800px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #3d444b;
  font-size: 0.9rem;
  background-color: #fff;
}
.tsm-admin-wrapper .row-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.tsm-admin-wrapper .row-wrapper .sidebar {
  width: 200px;
  border-radius: 5px 0 0 5px;
  background-color: #f6f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
.tsm-admin-wrapper .row-wrapper .sidebar .logo-wrapper h3 {
  color: #f25500;
}
.tsm-admin-wrapper .row-wrapper .sidebar .logo-wrapper span {
  color: #737171;
}
.tsm-admin-wrapper .row-wrapper .sidebar .sidebar-menu-links ul {
  text-decoration: none;
}
.tsm-admin-wrapper .row-wrapper .sidebar .sidebar-menu-links ul li a {
  text-decoration: none;
  color: #3d444b;
  width: 100%;
  display: block;
  padding: 8px 0 8px 8px;
  font-weight: 500;
  border-radius: 3px;
  transition-duration: 0.3s;
}
.tsm-admin-wrapper .row-wrapper .sidebar .sidebar-menu-links ul li a:hover {
  background-color: #fff;
  transition-duration: 0.3s;
}
.tsm-admin-wrapper .row-wrapper .sidebar .sidebar-menu-links ul li a.active {
  background-color: #fff;
  color: #f25500;
}
.tsm-admin-wrapper .row-wrapper .sidebar .misalliances-links ul li {
  padding: 4px 0 4px 8px;
}
.tsm-admin-wrapper .row-wrapper .sidebar .misalliances-links ul li a {
  text-decoration: none;
  font-size: 0.7rem;
  color: #737171;
}
.tsm-admin-wrapper .row-wrapper .main {
  width: 600px;
  padding: 16px;
}
.tsm-admin-wrapper .row-wrapper .main .title-bar {
  min-height: 40px;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper {
  min-height: 450px;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form {
  padding: 32px 0;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form .input-wrapper {
  padding: 0 0 32px 0;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form .input-wrapper lable {
  margin: 0 16px 0 0;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form .input-wrapper .help-tip {
  margin: 8px 0 0 0;
  font-size: 0.7rem;
  color: 0.7rem;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form .input-wrapper.radio {
  display: flex;
  justify-content: space-between;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form .input-wrapper.submit button {
  background-color: #007cba;
  font-weight: 700;
  border-radius: 3px;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form .input-wrapper.range label {
  display: block;
  margin-bottom: 16px;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form .input-wrapper.range .range-row-wrapper input[type=text] {
  width: 80px;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form .input-wrapper.range .range-row-wrapper .remove-row-button {
  border: 1px solid black;
  display: inline-block;
  padding: 4px 8px;
  margin: 8px 16px;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form .input-wrapper.range .range-row-wrapper .remove-row-button:hover {
  cursor: pointer;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form .input-wrapper.range .add-new-row-button .add-new-button-text {
  border: 1px solid black;
  display: inline-block;
  padding: 4px 8px;
  margin: 8px 16px;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .tsm-admin-settings-form .input-wrapper.range .add-new-row-button .add-new-button-text:hover {
  cursor: pointer;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .message-wrapper .admin-messages .admin-single-message {
  margin-bottom: 16px;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .message-wrapper .admin-messages.message-type-error, .tsm-admin-wrapper .row-wrapper .main .body-wrapper .message-wrapper .admin-messages.message-type-success {
  padding: 16px 0 4px 8px;
  background-color: #f6f9f9;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .message-wrapper .admin-messages.message-type-error {
  border-left: 4px solid #d63638;
}
.tsm-admin-wrapper .row-wrapper .main .body-wrapper .message-wrapper .admin-messages.message-type-success {
  border-left: 4px solid #7ad03a;
}
.tsm-admin-wrapper .row-wrapper .footer {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 8px 0;
  font-size: 0.7rem;
  color: #737171;
}
