.tpsm-guide-me-button {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY( -50% );
    writing-mode: vertical-rl;
    border: 1px solid #ddd;
    border-right: 0;
    padding: 15px 7px;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
    color:#303030;
    font-weight: 500;
    background-color: #faf1eb;
}
.tpsm-guide-me-container-wrapper {
    position: fixed;
    top:0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 1px solid #ddd;
    width: 400px;
    z-index: 9999;
    height: 100vh;
    backdrop-filter: blur(10px);
    padding: 20px;
    text-align: center;
    display: none;
}
.tpsm-guide-me-container-wrapper h2 {
    text-align: center;
    color:#4c5052;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 18px;
    border: 1px solid #ddd;
    background-color: #f8f0ec;
    padding: 10px 5px;
    border-radius: 4px;
    font-weight: 500;
}
.tpsm-guide-me-container-wrapper button {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 10px 30px;
    border-radius: 6px;
    cursor: pointer;
}
.tpsm-guide-me-container-wrapper button a {
    text-decoration: none;
    font-weight: 500;
}
.tpsm-guide-me-container-wrapper iframe {
    width: 100%;
    height: 350px;
}
.tpsm-guide-me-container {
    position: relative;
    padding-top: 50px;
}
.tpsm-guide-me-cross {
    position: absolute;
    top: 30px;
    left: 0;
    color: #f25500;
    font-size: 24px;
    cursor: pointer;
}

/*==========================*/
/*== Start Plugin Top bar ==*/
/*==========================*/
.tpsm-plugin-topbar-wrapper {
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tpsm-plugin-topbar-wrapper .tpsm-logo-title-area {
    display: flex;
    align-items: center;
}
.tpsm-plugin-topbar-wrapper .tpsm-logo-title-area .tpsm-icons {
    padding-right: 20px;
    border-right: 1px solid #ddd;
}
.tpsm-plugin-topbar-wrapper .tpsm-logo-title-area .tpsm-icons img {
    width: 55px;
    height: 55px;
}
.tpsm-plugin-topbar-wrapper .tpsm-logo-title-area .tpsm-titles {
    padding-left: 20px;
}
.tpsm-plugin-topbar-wrapper .tpsm-logo-title-area h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color:#1d2327;
    font-size: 22px;
}
.tpsm-plugin-topbar-wrapper .tpsm-logo-title-area p {
    font-size: 14px;
    font-style: normal;
    padding-top: 5px;
    color: #7f868d;
}
.tpsm-plugin-topbar-wrapper .tpsm-topbar-info-area a,
.tpsm-plugin-topbar-wrapper .tpsm-topbar-info-area a:focus {
    font-size: 14px;
    color:#2271b1;
    text-decoration: none !important;
    outline: 0;
    box-shadow: none;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
/*==========================*/
/*== End Plugin Top bar ==*/
/*==========================*/

.shipping-manager-container {
    background-color: #fff;
    display: flex;
}
.tpsm-siderbar-wrapper {
    padding: 20px 10px;
    width: 200px;
    background-color: #f6f9f9;
}
.tpsm-main-wrapper {
    padding: 50px;
    padding-bottom: 100px;
    padding-top: 30px;
    width: calc( 100% - 200px );
    position: relative;
}
.tpsm-rating-message {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #7f868d;
}
.tpsm-rating-message .tpsm-stars {
    color: #ffb900;
    font-size: 14px;
    margin: 0 5px;
}
.tpsm-siderbar-wrapper ul {
    margin-top: 0;
    margin-bottom: 0;
}
.tpsm-siderbar-wrapper ul li a,
.tpsm-siderbar-wrapper ul li a:active,
.tpsm-siderbar-wrapper ul li a:focus,
.tpsm-siderbar-wrapper ul li a:focus-visible,
.tpsm-siderbar-wrapper ul li a:visited {
    text-decoration: none;
    display: block;
    font-weight: 500;
    border-radius: 3px;
    transition: 0.3s all ease;
    color:#3d444b;
    outline: 0;
    padding: 10px 10px;
    font-size: 15px;
    box-shadow: none;
}
.tpsm-siderbar-wrapper ul li a.active {
    color: #f25500;
    background-color: #fff;
}
.tpsm-setting-row {
    margin-bottom: 35px;
}
.tpsm-setting-radio-fields-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
}
.tpsm-setting-radio-wrapper .tpsm-shipping-radio label {
    cursor: pointer;
}
.tpsm-shipping-fees-wrapper .tpsm-shipping-radio {
    display: flex;
    align-items: center;
}
.tpsm-shipping-fees-wrapper .tpsm-shipping-radio input[type="radio"] {
    border-color: #f25500;
}
.tpsm-shipping-fees-wrapper .tpsm-shipping-radio input[type="radio"]::before {
    background-color: #f25500;
    border-color: #f25500;
}
.tpsm-shipping-fees-wrapper .tpsm-shipping-radio input[type="radio"]:focus {
  box-shadow: none;
  border-color: #f25500;
}
.tpsm-setting-wrapper h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #1d2327;
    margin-bottom: 35px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.tpsm-setting-wrapper .tpsm-save-button {
    margin-top: 50px;
}
.tpsm-setting-wrapper .tpsm-save-button button {
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #f25500;
    color: #fff;
    border:none;
    font-weight: 500;
}

/* Repeater Fields design */
.tpsm-shipping-fees-repeater, .tpsm-box-size-repeater {
    width: 100%;
    padding: 16px;
    border-radius: 6px;
    margin-top: 20px;
}
.tpsm-shipping-fees-repeater table, .tpsm-box-size-repeater table {
    width: 100%;
}
.tpsm-addrow-button {
    margin-top: 20px;
}
.tpsm-addrow-button button {
    padding: 5px;
    cursor: pointer;
}
.tpsm-add-new-row-button {
    border: 1px solid #ddd;
    padding: 8px 30px !important;
    border-radius: 4px;
}