.tpsm-wizard-wrapper {
    width: 100%;
}

.tpsm-wizard-container {
    width: 500px;
    background-color: #fff;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px 1px rgba(196, 196, 196, 0.51);
    -webkit-box-shadow: 0px 5px 10px 1px rgba(196, 196, 196, 0.51);
    -moz-box-shadow: 0px 5px 10px 1px rgba(196, 196, 196, 0.51);
}

.tpsm-wizard-container .tpsm-wizard-logo {
    border-bottom: 1px solid #ddd;
}

.tpsm-wizard-container .tpsm-wizard-logo img {
    width: 80px;
    height: 80px;
}

.tpsm-wizard-container h3 {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.tpsm-wizard-container p {
    font-size: 15px;
    text-align: left;
    margin-bottom: 35px;
}

.tpsm-wizard-container form {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}

.tpsm-wizard-container form button.active {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    height: 37px;
    line-height: 35px;
    margin-bottom: 0;
}

.tpsm-optin-allow {
    background: linear-gradient(to right, #2563eb, #9333ea) !important;
    color: white;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    height: auto;
    transition: all 0.2s ease;
    transform: scale(1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: none !important;
}

.tpsm-optin-allow:hover {
    background: linear-gradient(to right, #1d4ed8, #7e22ce);
    transform: scale(1.01);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}